<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="com.nomagic.cameo.ontology.derivedproperties.0.1"
	name="Derived Properties for Ontology Elements"
	version="0.1"
	provider-name="No Magic"
	class="com.nomagic.cameo.ontology.derivedproperties.DerivedPropertiesPlugin">

	<requires>
	   <api version="1.0"/>
	</requires>

	<runtime>
	   <library name="derivedproperties.jar"/>
	   <library name="lib/guava-14.0.1.jar"/>
	</runtime>
</plugin>