<?xml version="1.0" encoding="UTF-8"?>

<!-- descriptor for the plugin; note that the id attribute must match the ID used in the code -->
<plugin
        id="com.nomagic.cameo.ontology.derivedproperties"
        name="Derived Properties for Ontology Elements"
        version="0.1"
        provider-name="No Magic"
        class="com.nomagic.cameo.ontology.derivedproperties.DerivedPropertiesPlugin">

    <requires>
        <api version="1.0"/>
        <required-plugin id="com.nomagic.magicdraw.diagramtable" name="Diagram Table"/>
    </requires>

    <runtime>
        <library name="derivedproperties.jar"/>
        <library name="lib/guava-14.0.1.jar"/>
    </runtime>
</plugin>